


<p class="ng-scope">
  <div class="col-xs-4"><a class="btn btn-lg btn-success" ng-href="#!/docRender" href="#!/">Dev<span class="glyphicon glyphicon-ok"></span></a></div>
  <div class="col-xs-4"><a class="btn btn-lg btn-success" ng-href="#!/" href="#!/">UAT<span class="glyphicon glyphicon-ok"></span></a></div>
  <div class="col-xs-4"><a class="btn btn-lg btn-success" ng-href="#!/" href="#!/">PROD<span class="glyphicon glyphicon-ok"></span></a></div>
</p>


            <!--<li ng-class="{'active':activeTab=='Home'}" ng-click="highlight('Home')"><a href="#!/">Home</a></li>-->
